@charset "UTF-8";

/*비율*/
/* * {outline: 1px solid skyblue;} */
.wrapper {display: flex; flex-direction: column; justify-content: center; width: 100%}
.container {display: flex; justify-content: center; width: 100%;}
.content {width: 700px;}

/*탑메뉴*/
#uppermost {display: flex; align-items: center; height: 50px;}
.top-menu {
    display: flex;
    justify-content: flex-end;
}
.top-menu > a {
    margin: 5px;
    font-size: 12px;
}

/*로고*/
.logo-name {display: flex; justify-content: center;}
.logo-name > a {font-size: 45px; font-weight: bold;}
.logo-name > a > span {color: var(--main-color-yel);}