@charset "UTF-8";

/*[통합]*/
/*메인 구조*/
.main {display: flex; flex-direction: column; align-items: center; text-align: center;
       width: 700px; height: calc(100vh - 300px); padding: 20px 0px;}
.wrap-find-id {padding-top: 50px;}

/*[타이틀]*/
h1 {margin: 50px 0px; padding: 0;}

/*[아이디 찾기 항목 입력]*/
.input-data {display: flex; flex-direction: column; align-items: center;}
.name, .email {display: flex; align-items: center; justify-content: center; width: 300px; outline: 1px solid #979797; border-radius: 8px; margin-top: 10px;}
.input-data .icon__name {width: 20px; height: 20px; font-size: 20px; margin: 0px 20px; color: black}
.input-data .icon__email {width: 20px; height: 20px; font-size: 20px; margin: 0px 20px; color: black;}
.bar__name, .bar__email {display: flex; width: 1px; height: 30px; background-color: #979797;}
.input-data input {width: 250px; height: 25px; margin: 10px; border: none; font-size: 14px;}
.input-data input:focus {outline: none;}

/*[로그인 버튼]*/
.confirm-btn {width: 300px; height: 45px; font-size: 15px; font-weight: bold;
              margin-top: 30px; background-color: var(--main-color-yel); color: #fff;
              border: none; border-radius: 5px; letter-spacing: 3px;}