@charset "UTF-8";

* {
  outline: 1px solid green;
}


* {
  outline: 1px solid green;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.wrapper .container .content {
  display: flex;
  justify-content: center;
  width: 80%;
}

.wrapper .banner > .content {
  width: 100%;
}

.wrapper > .main > .banner {
  width: 100%;
}

.wrapper .container {
  display: flex;
  justify-content: center;
}

/* header */

.wrapper > .header {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.wrapper > .header > .top-menu > .content {
  display: flex;
  justify-content: end;
}

.wrapper > .header > .top-menu > .content > ul > li {
  display: inline-block;
  position: relative;
}

.wrapper > .header > .logo {
  display: flex;
  justify-content: center;
}

.wrapper > .header > .logo > .content > img {
  width: 250px;
  height: 100px;
}

/* main */
.wrapper > .main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 350px);
}

/* footer */
.wrapper > .footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: #eee;
}

.wrapper > .footer > .footer__aside {
  display: flex;
  flex: 3;
  text-align: center;
  border-bottom: 0.5px solid #777;
  padding-top: 50px;
}

.wrapper > .footer > .footer__corp {
  display: flex;
  flex: 1;
  text-align: center;
  padding-top: 25px;
}

.wrapper > .footer > .footer__corp > .corp__item {
  display: flex;
  overflow: hidden;
  float: left;
}

.wrapper > .footer > .footer__corp > .corp__item li {
  margin-right: 13px;
}